credentials:
  batch:
    account_key: $BATCH_ACCOUNT_KEY
    account_service_url: https://$BATCH_ACCOUNT_SERVICEURL
  storage:
    mystorageaccount:
      account: $STORAGE_ACCOUNT_NAME
      account_key: $STORAGE_ACCOUNT_KEY
      endpoint: core.windows.net
